# Name : Naveen Mathews Renji | CWID : 20016323

## Import Libraries

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

## Load the dataset

In [2]:
df = pd.read_csv("breast-cancer-wisconsin.csv")

In [3]:
df.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [4]:
num_rows = df.shape[0]
print(num_rows)

699

## Taking care of missing values

In [5]:
df = df.replace('?', float('nan'))
df["F6"] = pd.to_numeric(df["F6"])
df.describe()

,Sample,F1,F2,F3,F4,F5,F6,F7,F8,F9,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

## Replacing the missing values with the “mean” of the column

In [6]:
mean_value=df['F6'].mean()
df['F6'].fillna(value=mean_value, inplace=True)
print(df.isnull().sum())

Sample    0
F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
Class     0
dtype: int64

## Creating KNN Model and classifying the training data

In [7]:
X = np.array(df.iloc[:, 1:])
y = np.array(df['Class'])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.30, random_state = 42)

In [9]:
neighbours_size=[3,5,10]
for i in neighbours_size:
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(X_train, y_train)
    Y_pred = knn.predict(X_test)
    print("The Classifiction models for KNN methodology for k Value = ",i)
    print("The Score is -",knn.score(X_test, y_test))
    print("The Confusion Matrix is -")
    print(confusion_matrix(y_test,Y_pred))
    print("The Classification Report Matrix is -")
    print(classification_report(y_test,Y_pred))

The Classifiction models for KNN methodology for k Value =  3
The Score is - 0.9809523809523809
The Confusion Matrix is -
[[141   2]
 [  2  65]]
The Classification Report Matrix is -
              precision    recall  f1-score   support

           2       0.99      0.99      0.99       143
           4       0.97      0.97      0.97        67

    accuracy                           0.98       210
   macro avg       0.98      0.98      0.98       210
weighted avg       0.98      0.98      0.98       210

The Classifiction models for KNN methodology for k Value =  5
The Score is - 0.9809523809523809
The Confusion Matrix is -
[[141   2]
 [  2  65]]
The Classification Report Matrix is -
              precision    recall  f1-score   support

           2       0.99      0.99      0.99       143
           4       0.97      0.97      0.97        67

    accuracy                           0.98       210
   macro avg       0.98      0.98      0.98       210
weighted avg       0.98      0.98      0.98       210

The Classifiction models for KNN methodology for k Value =  10
The Score is - 0.9714285714285714
The Confusion Matrix is -
[[141   2]
 [  4  63]]
The Classification Report Matrix is -
              precision    recall  f1-score   support

           2       0.97      0.99      0.98       143
           4       0.97      0.94      0.95        67

    accuracy                           0.97       210
   macro avg       0.97      0.96      0.97       210
weighted avg       0.97      0.97      0.97       210